<div class="center-align" style="margin: 10px 0;">
  <textarea name="note" id="note" rows="1" style="width:100%;" maxlength="360" placeholder="{{ settings.cart_note_text }}">{{ cart.note }}</textarea>
</div>