<!--<div class="social">
<nav class="horizontal-list">
<ul>
<li><a href="" class=""><span class="typcn typcn-social-facebook"></span></a></li>
<li><a href="" class=""><span class="typcn typcn-social-twitter"></span></a></li>
<li><a href="" class=""><span class="typcn typcn-social-pinterest"></span></a></li>
</ul>
</nav>
</div>-->

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_sharing_toolbox"></div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b6233b44224123"></script>