<!--<div class="main-category">Search</div>	-->	
<div class="search">
  <div class="pure-g">
    <div class="pure-u-1">
      <article>
        <div class="form search-field">
          <form class="search" action="/search">
            <input type="hidden" name="type" value="product">
            <input class="search_box" type="text" name="q" placeholder="Search" value="">
          </form>
        </div>
      </article>
    </div>
  </div>
</div>