{% layout settings.customer_layout %}

<div id="main" class="press">
	<div class="page-top">
		<div class="pure-g">
			<div class="pure-u-1 pure-u-sm-1-3">
				<article class="sorting"></article>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3">
				<article class="page-title">Reset password</article>
			</div>
			<div class="pure-u-1 pure-u-sm-1-3">
				<article class="prevnext"></article>
			</div>
		</div>
	</div>
    
  <!-- Begin content -->
    <div class="content center-align">
      <article>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-6 pure-u-lg-1-4 pure-u-xl-1-3"></div>
				<div class="pure-u-1 pure-u-sm-2-3 pure-u-lg-1-2 pure-u-xl-1-3">
					<article class="information">
						<div class="body">
                      		{% form 'reset_customer_password' %}
      {{ form.errors | default_errors }}

      <div><label class="label" for="password">Password</label>
      <input type="password" value="" name="customer[password]" id="customer_password" class="text" size="16" />
                      </div>
        <div>
      <label class="label" for="password_confirmation">Password Confirmation</label>
      <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="text" size="16" />
                          </div>
      <br>
      <div class="action_bottom">
        <input class="btn rounded" type="submit" value="Reset Password" />
      </div>
      {% endform %}
                      </div>
						
					</article>
				</div>
              	<div class="pure-u-1 pure-u-sm-1-6 pure-u-lg-1-4 pure-u-xl-1-3"></div>
			</div>
		</article>
      </div>
  <!-- End content -->
  
</div>
