/* responsive checkout */
.header {
  text-align:center;
}
.header .wrap .shop{ 
  width:100%;
}
.header .wrap .shop a{ 
  width:100%;
}
.shop__logo {
    max-width: 450px !important;
  margin:0 auto;
}